{{ 'test-featured-products.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .tfp-grid-{{ section.id }} {
    display: grid;
    column-gap: var(--grid-mobile-horizontal-spacing);
    row-gap: var(--grid-mobile-vertical-spacing);
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .tfp-grid-{{ section.id }} {
      column-gap: var(--grid-desktop-horizontal-spacing);
      row-gap: var(--grid-desktop-vertical-spacing);
      grid-template-columns: repeat({{ section.settings.max_items_per_row }}, minmax({{ section.settings.min_column_size }}px, 1fr));
    }
  }
{%- endstyle -%}

<div class="test-featured-products section-{{ section.id }}-padding">
  <div class="page-width">
    {%- if section.settings.title != blank or section.settings.subtitle != blank -%}
      <div class="test-featured-products__header">
        {%- if section.settings.title != blank -%}
          <h2 class="test-featured-products__title text-align--{{ section.settings.title_alignment }} h2">
            {{ section.settings.title }}
          </h2>
        {%- endif -%}
        {%- if section.settings.subtitle != blank -%}
          <div class="test-featured-products__subtitle text-align--{{ section.settings.subtitle_alignment }} rte">
            {{ section.settings.subtitle }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="test-featured-products__products tfp-grid-{{ section.id }}">
      {%- if request.page_type == 'collection' and section.settings.product_list == blank -%}
        {%- for product in collection.products limit: 10 -%}
          {%- render 'boa-product-card', product: product -%}
        {%- endfor -%}
      {%- else -%}
        {%- for product in section.settings.product_list -%}
          {%- render 'boa-product-card', product: product -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.test-featured-products.name",
  "enabled_on": {
    "templates": ["page", "product", "collection"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.test-featured-products.settings.title.name",
      "default": "t:sections.test-featured-products.settings.title.default"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.global.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:settings_schema.global.settings.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:settings_schema.global.settings.text_alignment.label"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "t:sections.test-featured-products.settings.subtitle.name",
      "default": "t:sections.test-featured-products.settings.subtitle.default"
    },
    {
      "type": "select",
      "id": "subtitle_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.global.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:settings_schema.global.settings.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:settings_schema.global.settings.text_alignment.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.test-featured-products.settings.product_list.name",
      "info": "If the section is placed on a collection page, it will use collections first 10 products unless this field is populated with products."
    },
    {
      "type": "color",
      "id": "default_title_color",
      "label": "t:sections.test-featured-products.settings.default_title_color.name",
      "default": "#FF0000"
    },
    {
      "type": "range",
      "id": "max_items_per_row",
      "label": "t:sections.test-featured-products.settings.max_items_per_row.name",
      "default": 4,
      "min": 1,
      "max": 7,
      "step": 1
    },
    {
      "type": "range",
      "id": "min_column_size",
      "label": "t:sections.test-featured-products.settings.min_column_size.name",
      "default": 200,
      "min": 50,
      "max": 500,
      "unit": "px",
      "step": 5
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.test-featured-products.presets.name"
    }
  ]
}
{% endschema %}
